-# CSS : implied media="all"
= stylesheet_link_tag 'style', :media => 'all'
= stylesheet_link_tag 'styles_lessframework', :media => 'all'
= stylesheet_link_tag 'application', :media => 'all'

-# Uncomment if you are specifically targeting less enabled mobile browsers
-#= stylesheet_link_tag 'handheld', :media => 'handheld'

-# Append your own using content_for :stylesheets
= yield :stylesheets if block_given?
